__pycache__/
.ok_history
.ok_storage
ok
*.ok
*.yaml

ucb.py
!/projects/*/ucb.py

parsons/
__init__.py
construct_check.py

!/projects/*/gui_files/

!/projects/hog/hog.py
!/projects/hog/tests/
/projects/hog/tests/__init__.py
/projects/hog/tests/check_strategy.py
/projects/hog/tests/play_utils.py

!/projects/cats/cats.py
!/projects/cats/tests/
/projects/cats/tests/__init__.py
/projects/cats/tests/abstraction_check.py

/labs/lab06/car.py

!/projects/ants/ants.py
!/projects/ants/tests/
/projects/ants/tests/__init__.py

/labs/lab07/reverse_link_diagram.png

/projects/lambdaing/cardgame.py
/projects/lambdaing/cards.py

editor/
scheme

/labs/lab11/pair.py
/labs/lab11/scheme_tokens.py

!/projects/scheme/
/projects/scheme/abstract_turtle/
/projects/scheme/images/
/projects/scheme/mytests.rst
/projects/scheme/tests.scm
/projects/scheme/pair.py
/projects/scheme/scheme.py
/projects/scheme/scheme_builtins.py
/projects/scheme/scheme_reader
/projects/scheme/scheme_tokens.py
/projects/scheme/scheme_utils.py

/labs/lab13/lab13.lark

/labs/lab14/lab14.lark
